@import "../../../css/variables.scss";

.DialogueBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-avatar {
    flex-shrink: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    background: url("/images/poro-king.png");
    background-size: cover;
    background-position: center;
    border: solid 0.2rem #1e2528;
    z-index: 1;
  }

  &-frame {
    margin-top: -3.5rem;
    position: relative;
    width: 100%;

    &Background {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    &Top,
    &Middle,
    &Bottom {
      width: 100%;
    }

    &Top {
      margin-bottom: -0.1rem;  /* prevents thin visible line between parts */
    }

    &Bottom {
      margin-top: -0.1rem;  /* prevents thin visible line between parts */
    }

    &Middle {
      flex-grow: 1;
    }

    &Content {
      padding: 5rem 2rem 2rem;
      margin: 0.7rem;
      overflow-y: auto;
      max-height: 55vh;

      @media #{$media-desktop} {
        padding: 5rem;
      }
    }
  }
}
