
.DialoguePage {

  &.Page {
    overflow: hidden;
  }

  &-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    max-width: 90%;
    min-height: 30rem;
  }

  &-footer {
    position: absolute;
    bottom: 1rem;
    right: 2rem;

    &Link {
      margin-left: 2rem;
    }
  }
}
