@import './patterns/organisms/nav/nav.scss';

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  margin: 0;
  font-family: "Gill Sans W04", GillSans, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  color: white;
}

.App {
  display: flex;
  height: 100vh;
}

.Page {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #222;

  &-content {
    width: 50%;
    min-width: 75rem;
    padding-left: $nav-width;
    margin: auto;
  }
}

a {
  color: white;
}

input {
  padding: 0.75rem 1rem;
  font-size: 1.4rem;
  border:none;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  color: white;
}
