@import '../../../css/variables.scss';

$nav-width: 22rem;
$nav-padding: 1rem;

.Nav {
  background: transparent;
  backdrop-filter: blur(5px) brightness(90%);
  border-right: solid 0.1rem black;
  color: white;
  height: calc(100% - #{$nav-padding} * 2);
  width: $nav-width;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $nav-padding 0;
  flex-shrink: 0;
  position: fixed;
  overflow: auto;

  &-logo {
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  &-introduction {
    margin: 2.5rem 1rem;
    text-align: center;
    font-style: italic;
  }

  &-summoner {
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Description {
      font-style: italic;
      margin-bottom: 1rem;
      text-align: center;
    }

    &Input {
      background: transparent;
      border-bottom: solid 0.1rem rgba(255, 255, 255, 0.15);
      border-radius: 0.2rem;
      text-align: center;

      &:focus {
        outline: none;
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }

  &-primary {
    display: flex;
    flex-direction: column;

    &Button {
      padding: 1.5rem;
      text-decoration: none;
      color: white;
      text-align: center;
      font-size: 1.8rem;
      transition: background 0.1s ease-in-out; 
      position: relative;
      outline: none;

      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.1);
      }

      &:not(:first-child)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 1rem;
        right: 1rem;
        height: 0.1rem;
        background: rgba(255, 255, 255, 0.15);
        transition: opacity 0.1s ease-in-out;
      }

      &.is-active {
        background: rgba(255, 255, 255, 0.15);
      }

      // Remove border on hover and active

      &:hover,
      &.is-active {

        &:not(:first-child)::before {
          opacity: 0;
        }
      }

      // Remove border on next sibling on hover and active

      &.is-active + &::before,
      &:hover + &::before {
        opacity: 0;
      }
    }
  }

  &-secondary {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;

    &Button {
      text-decoration-line: none;
      text-align: center;
      color: white;
      font-size: 1.2rem;
    }
  }
}
